<div class="bg-success text-white text-center py-5">
  <h1>FAQ</h1>
  <h3>Perguntas frequentes</h3>
</div>

<div class="container mt-4 mb-4">
  <div ngbAccordion>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Vocês trabalham com agendamento?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            Sim, <a routerLink="/contato">clique aqui</a> para agendar.
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Qual a forma de pagamento? Parcela?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            Dinheiro, Cartão de Débito ou Crédito e Pix. Parcelamos até 3 vezes.
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Se caso veículo reprove, terei prazo? E paga novamente para retornar?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            Sim, terá prazo de 30 dias corridos e dentro desse prazo não precisa pagar
            nova taxa.
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Qual o horário de funcionamento da empresa?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <p>Nossos horários são diferentes para cada empresa.</p>
            <p>Invmetro Curitiba</p>
            <p>Segunda a sexta: 08h às 12h das 13h30min às 17h30min</p>
            <p>Invmetro Campo Largo</p>
            <p>Segunda a sexta: 08h30min às 12h das 13h às 17h30min</p>
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Quais os itens que são verificados na inspeção?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <p>São todos os itens da parte se segurança veicular.</p>
            <p>Como são mais de 60 itens inspecionados, em resumo:</p>
            <p>EQUIPAMENTOS OBRIGATÓRIOS; SISTEMA DE SINALIZAÇÃO; SISTEMA
              DE ILUMINAÇÃO; SISTEMAS DE FREIOS; SISTEMA DE DIREÇÃO;
              SISTEMA DE SUSPENSÃO; PNEUS E RODAS; PORTAS E TAMPAS,
              VIDROS E JANELAS, BANCOS, SISTEMA DE EXAUSTÃO, DIMENSÕES,
              ENGATE (QUINTA RODA), PÁRA-BRISA, MOTOR, CHASSI/ESTRUTURA,
              SISTEMA ELÉTRICO (BATERIA), SISTEMA DE TRANSMISSÃO; EMISSÃO
              DE POLUENTES E RUÍDO.</p>
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Quais os documentos necessários para realizar a inspeção?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <ul class="services-list">
              <li>CRLV/CRV (Certidão de Registro de veículo);</li>
              <li>RG/CPF ou CNH (Documento de identificação do proprietário ou
                condutor do veículo);</li>
              <li>Selo de inspeção emitido na inspeção do ano anterior (inspeção de GNV
                periódica);</li>
              <li>Notas fiscais da modificação (peças e mão-de-obra).</li>
            </ul>
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>A inspeção que preciso realizar necessita de autorização do DETRAN?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <p>Autorização prévia é obrigatória para inspeção de veículos sinistrados e
              veículos modificados, tanto para inclusão ou retirada do kit GNV.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
