<div class="footer">
  <div class="contact-info">
    <div class="unit-info">
      <h3>Unidade Curitiba</h3>
      <p>WhatsApp: (41) 3357 3939</p>
      <p>Email: invmetrocuritiba@gmail.com</p>
      <p>Endereço: Estrada da Ribeira, 970 A – Bairro Atuba</p>
    </div>
    <div class="whatsapp-button">
      <a href="link_para_whatsapp_curitiba" target="_blank">Iniciar uma conversa via WhatsApp</a>
    </div>
  </div>

  <div class="contact-info">
    <div class="unit-info">
      <h3>Unidade Campo Largo</h3>
      <p>WhatsApp: (41) 3555 1300</p>
      <p>Email: invmetrocampolargo@gmail.com</p>
      <p>Endereço: BR 277 Km 114, 25 A – Bairro Rondinha</p>
    </div>
    <div class="whatsapp-button">
      <a href="link_para_whatsapp_campolargo" target="_blank">Iniciar uma conversa via WhatsApp</a>
    </div>
  </div>
</div>
