.footer {
  background-color: #333;
  /* Cor do rodapé */
  color: #fff;
  /* Cor do texto */
  padding: 20px;
  text-align: center;
}

.contact-info {
  margin: 10px;
}

.unit-info {
  max-width: 400px;
  /* Ajuste o valor conforme necessário */
  margin: 0 auto; /* Centraliza o bloco de informações */
}

.unit-info h3 {
  color: #fff;
  /* Cor do título */
}

.whatsapp-button a {
  background-color: #4CAF50;
  /* Cor do botão de WhatsApp */
  color: #fff;
  text-decoration: none;
  padding: 10px 15px; /* Ajuste o valor conforme necessário */
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 10px; /* Adiciona espaçamento acima do botão */
}

.whatsapp-button a:hover {
  background-color: #45a049;
}
