<div class="bg-success text-white text-center py-5">
  <h1>Contato</h1>
</div>

<div class="container mb-4 mt-4">
  <div class="row justify-content-around align-items-center">
    <!-- Contato 1 -->
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="text-center">
        <h3>Invmetro Curitiba</h3>
        <h6>WhatsApp: (41) 3357-3939</h6>
        <h6>E-mail: <a href="mailto:invmetrocuritiba@gmail.com">invmetrocuritiba@gmail.com</a></h6>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3604.6884839280515!2d-49.19952741930228!3d-25.38175486272223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce8a966b32019%3A0x5059d9ecc7c315c9!2sInvmetro%20inspe%C3%A7%C3%A3o%20de%20seguran%C3%A7a%20veicular%20de%20Curitiba.%20Agendamentos%20e%20informa%C3%A7%C3%B5es%20por%20WhatsApp%3A%20(41)%203357-3939.!5e0!3m2!1sen!2sus!4v1705613215022!5m2!1sen!2sus"
          width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    <!-- Contato 2 -->
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="text-center">
        <h3>Invmetro Campo Largo</h3>
        <h6>WhatsApp: (41) 3357-3939</h6>
        <h6>E-mail: <a href="invmetrocuritiba@gmail.com">invmetrocampolargo@gmail.com</a></h6>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.807439536187!2d-49.50102282386473!3d-25.444700533474887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dd184d78709bf1%3A0x994060d231a4297e!2sInvmetro%20inspe%C3%A7%C3%A3o%20de%20seguran%C3%A7a%20veicular%20de%20Campo%20Largo.%20Contato%20via%20WhatsApp%3A%20(41)%203555-1300.!5e0!3m2!1sen!2sus!4v1705613074501!5m2!1sen!2sus"
          width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>

