<div class="green-banner"
  style="height: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center">
  <h2 style="margin-bottom: 10px;">A Invmetro</h2>
</div>
<div class="white-banner"
  style="height: 350px; display: flex; flex-direction: column; justify-content: center; align-items: center">
  <div class="container">
    <p>
      A Invmetro é uma empresa que atua no mercado desde 2009, com instalações em Curitiba (bairro Atuba, próximo ao
      trevo da antiga Penha) e em Campo Largo (bairro Rondinha, em frente à Igreja da Rondinha).
    </p>

    <p>
      Com profissionais especializados, como manda a legislação, Engenheiros e Técnicos. Além de atender com respeito à
      inspeção veicular em si, também auxiliamos nossos clientes com respeito a todas as suas dúvidas com os
      procedimentos que levaram a inspeção veicular, agindo assim como uma consultoria na resolução dos seus problemas.
    </p>

    <p>
      É uma instituição técnica licenciada e autorizada a fazer Inspeções de Segurança Veicular (ISV) pelo SENATRAN
      (Secretaria Nacional de Trânsito) e pela CGCRE (Coordenação Geral de Acreditação do Inmetro), para todo o Brasil.
    </p>


  </div>
</div>
