<div class="bg-success text-white text-center py-5">
  <h1>Serviços</h1>
  <h4>Selecione a unidade para ver os serviços disponíveis em cada uma delas.</h4>
</div>

<div class="gray-banner">
  <h2 style="margin-bottom: 10px" class="green-title">Lista de Serviços</h2>
  <div class="container">
    <div ngbAccordion>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Veículo Sinistro</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>
                Veículos que se envolveram em acidente de trânsito ou foram bloqueados por seguradoras por vários
                motivos
                (enchente, recuperado de furto, entre outros) ou pela autoridade de trânsito devem passar por inspeção
                para
                regularização.
              </p>
              <p>Antes de realizar a inspeção deve obter a autorização prévia junto ao DETRAN do seu Estado. Documentos
                necessários para a realização da inspeção:</p>
              <br>
              <p>– CRLV/CRV ou Nota Fiscal de aquisição (Certidão de Registro de veículo);</p>
              <p>– RG/CPF ou CNH (Documento de identificação do proprietário ou condutor do veículo);</p>
              <p>– Notas fiscais dos itens consertados (peça e mão-de-obra) contendo placa ou chassi do veículo;</p>
              <p>– É necessário B.O. (Boletim de Ocorrência), Caso o veículo esteja sem as placas (dianteira ou
                traseira).</p>
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>GNV Periódica</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>
                Este tipo de inspeção é obrigatório para todos os veículos adaptados com GNV. Será avaliado tanto o
                funcionamento do sistema de gás quanto o funcionamento geral do veículo. Documentos necessários para a
                realização da inspeção:
              </p>
              <br>
              <p>– CRLV/CRV ou Nota Fiscal de aquisição (Certidão de Registro de veículo);</p>
              <p>– RG/CPF ou CNH (Documento de identificação do proprietário ou condutor do veículo);</p>
              <p>– Selo de inspeção emitido na inspeção do ano anterior.</p>
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Inclusão/Retirada do Kit GNV:</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>
                O cliente que necessita adaptar ou retirar o sistema de GNV em seu veículo deve, primeiramente, obter a
                autorização prévia junto ao DETRAN do seu Estado antes de fazer a adaptação/retirada propriamente dita.
                Feita a modificação, o cliente deve trazer o veículo para fazer a avaliação tanto do sistema GNV quanto
                do
                veículo no caso de inclusão, ou se retornou às características originais, no caso da retirada do kit.
                Documentos necessários para a realização da inspeção:
              </p>
              <br>
              <p>– CRLV/CRV ou Nota Fiscal de aquisição (Certidão de Registro de veículo);</p>
              <p>– RG/CPF ou CNH (Documento de identificação do proprietário ou condutor do veículo);</p>
              <p>– Notas fiscais do serviço (peças e mão-de- obra) e atestado de qualidade
                do
                instalador (é obrigatório o instalador dar na hora de entregar as notas);</p>
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Veículo Modificado</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>Para qualquer modificação das características originais dos veículos, como:</p>

              <ul class="services-list">
                <li>Troca de carroceria;</li>
                <li>Inclusão de mecanismo operacional;</li>
                <li>Inclusão de cabine suplementar;</li>
                <li>Inclusão de tanque suplementar;</li>
                <li>Inclusão ou exclusão de eixos adicionais;</li>
                <li>Alongamento de chassi;</li>
                <li>Adaptados para aprendizagem (autoescola);</li>
                <li>Adaptados para PNE (portadores de necessidades especiais);</li>
                <li>Rebaixado ou elevado;</li>
                <li>Blindado.</li>
              </ul>

              <p>Com a devida autorização prévia do DETRAN do seu Estado, antes de fazer a alteração no veículo, pois
                implica no pagamento de multas administrativas (não passíveis de ponto em carteira). Documentos
                necessários
                para a realização da inspeção:</p>

              <br>
              <p>– CRLV/CRV ou Nota Fiscal de aquisição (Certidão de Registro de veículo);</p>
              <p>– RG/CPF ou CNH (Documento de identificação do proprietário ou condutor do veículo);</p>
              <p>– Notas fiscais da modificação (peças e mão-de-obra).</p>
              <p>- CAT - Certificado de adequação as Leis de transito (quando aplicável) </p>
              <p>- ART do Engenheiro (quando aplicável)</p>
              <p>- Aferição do Tacógrafo (quando aplicável)</p>

            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Inspeção: Escolar, ANTT, DER, Moto-Frete, URBS</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>Veículos para transporte de escolares devem obedecer a várias legislações de várias instâncias
                (federal,
                estadual e municipal) e que para homologação precisam passar por inspeção.</p>
              <p>Documentos necessários para a realização da inspeção:</p>

              <br>
              <p>– CRLV/CRV ou Nota Fiscal de aquisição (Certidão de Registro de veículo);</p>
              <p>– RG/CPF ou CNH (Documento de identificação do proprietário ou condutor do veículo);</p>
              <p>- Aferição do Tacógrafo (quando aplicável)</p>
              <br>
              <p>Tipos de inspeções especiais (como fabricação artesanal) ou para atender clientes ou normas
                específicas,
                entre em contato conosco.</p>
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Motor-casa</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>Segue nos links abaixo a resolução e portaria que estabelece requisitos técnicos para modificação ou
                transformação de veículos para motor-casa, assim como sua circulação e fiscalização.</p>

              <br>
              <a
                href="https://www.in.gov.br/materia/-/asset_publisher/Kujrw0TZC2Mb/content/id/51523850/do1-2018-11-23-resolucao-n-743-de-12-de-novembro-de-2018-51523534"
                target="_blank">Link Resolução</a>
              <br>
              <a href="https://www.in.gov.br/materia/-/asset_publisher/Kujrw0TZC2Mb/content/id/69873315"
                 target="_blank">Link
                Portaria</a>

            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>CITV – Certificado de Inspeção Técnica Veicular (Mercosul)</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>Inspeção Técnica Veicular (ITV) em veículos de transporte rodoviário internacional (MERCOSUL) de cargas
                e
                passageiros.</p>
              <p>Veículos que transitam em outros países estão sujeitos à fiscalização quanto à aprovação do veículo em
                inspeção de segurança veicular nos moldes da Resolução Mercosul n° 75/97.</p>
              <p>Documentação:</p>
              <p>– CRLV/CRV ou Nota Fiscal de aquisição (Certidão de Registro de veículo);</p>
              <p>– RG/CPF ou CNH (Documento de identificação do proprietário ou condutor do veículo).</p>
              <br>
              <p>Valor para qualquer veículo – R$ 500,00</p>

            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="white-banner">
  <div class="white-banner-content">
    <h3 class="green-title">Tabela de preços</h3>
  </div>

  <div class="container">

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <button ngbNavLink>Unidade Curitiba</button>
        <ng-template ngbNavContent>
          <app-table-curitiba></app-table-curitiba>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>Unidade Campo Largo</button>
        <ng-template ngbNavContent>
          <app-table-campo-largo></app-table-campo-largo>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>

</div>

