<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Veículo</th>
        <th scope="col">GNV</th>
        <th scope="col">Sinistro/Modificado</th>
        <th scope="col">Fabricação Artesanal</th>
        <th scope="col">ANTT/DER/URBS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let veiculo of veiculosData">
        <th scope="row">{{ veiculo.veiculo }}</th>
        <td>{{ veiculo.gnv }}</td>
        <td>{{ veiculo.sinistro }}</td>
        <td>{{ veiculo.artesanal }}</td>
        <td>{{ veiculo.antt }}</td>
      </tr>
    </tbody>
  </table>
</div>

<h4 class="section-title">Outros Serviços (Unidade Curitiba)</h4>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Serviços</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let servico of servicosData">
        <th scope="row">{{ servico.servico }}</th>
        <td>{{ servico.valor }}</td>
      </tr>
    </tbody>
  </table>
</div>
