<div class="bg-success text-white text-center py-2">
<!--  <h1><strong>Atenção!</strong> </h1>-->
<!--  <br>-->
<!--  <h2>Nossos telefones estão fora de área nas duas unidades.</h2>-->
<!--  <br>-->
<!--  <h4>CONTATO SOMENTE VIA WHATSAPP.</h4>-->
<!--  <br>-->
<!--  <h6>Campo Largo – WhatsApp: 41 3555-1300</h6>-->
<!--  <br>-->
<!--  <h6>Curitiba – WhatsApp: 41 3357-3939</h6>-->
</div>

<div class="white-banner text-center bg-light text-dark py-3">
    <h3 style="color: #4CAF50;">Trabalhamos Com Hora Marcada!</h3>
    <p>Hora marcada e sem atrasos!</p>
    <p>Agende seu horário e venha sem se preocupar.</p>
    <p>Clique no botão e comece uma conversa no WhatsApp.</p>
  <a class="btn btn-success" routerLink="/contato">Agende Aqui</a>
</div>

<div class="bg-success text-center text-white">
  <div class="row">

    <div class="card" style="width: 22rem;">
      <img src="assets/gnv.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">GNV</h5>
        <p class="card-text">Homologação de conversão de combustível para Gás Natural Veicular. Inspeção obrigatória
          anual, e na inclusão ou retirada do kit.</p>
        <a routerLink="/servicos" class="btn btn-success">Saiba mais</a>
      </div>
    </div>

    <div class="card" style="width: 22rem;">
      <img src="assets/sinistro.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sinistros</h5>
        <p class="card-text">Avaliação de sinistros é obrigatória quando há bloqueio por acidente (sinistro).</p>
        <a routerLink="/servicos" class="btn btn-success">Saiba mais</a>
      </div>
    </div>

    <div class="card" style="width: 22rem;">
      <img src="assets/caminhao-carroceria.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mudança de Carroceria</h5>
        <p class="card-text">Mudança de carroceria em caminhões. Inspeção em caminhões modificados.</p>
        <a routerLink="/servicos" class="btn btn-success">Saiba mais</a>
      </div>
    </div>
    <h5> A Invmetro é uma instituição técnica acreditada pela CGCRE e licenciada pelo Senatran, para realização de
      inspeções de segurança veicular.</h5>
  </div>
</div>
